/*Navbar*/

.top-navbar {
	background: #F16B6F;
	color: white;
	margin-bottom: 50px;
}

a.navbar-brand {
	color: white;
	letter-spacing: 8px;
	font-size: 22px;
}

.navbar-toggle {
	color: white;
	background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
}

.collapse navbar-collapse {
	color: white;
}

.loginRegister a {
	color: white;
}

.loginRegister a:hover {
	color: #F16B6F;
}

/*dropdown menu on right*/
a.dropdown-toggle {
	color: white;
}

a.dropdown-toggle:hover {
	color: #a7a7a2;
}

ul.dropdown-menu {
	color: #a7a7a2;
}

span.icon-bar {
	background: white;
}

.dropdown-menu>li>a {
    font-weight: 400;
    color: #a7a7a2;
    font-size: 14px;
}

.dropdown-menu>li>a:hover {
    font-weight: 400;
    color: #004e66;
}

/*Body of page*/

/*intro page*/
div.payit.m-b-md, div.work.m-b-md {
	color: #a7a7a2;
	font-size: 16px;
	margin-top: 20px;
} 

div.links, div.links a {
	color: #F16B6F;
	font-size: 20px;
	padding-right: 15px;
	padding-left: 15px;
}

div.links, div.links a:hover {
	color: #004e66;
	padding-right: 15px;
	padding-left: 15px;
}

div.container {
	display: inline-block;
}

label {
	margin: 15px;
}

/*heading on pages*/
h2, p {
	text-align: left;
	margin-left: 15px;
}

/*about page pic*/
.seanPic {
	margin-left: 10px;
	max-width: 40%;
	height: auto;
	border-radius: 40px;
}

/*user page*/

.profileContainer {
	display: inline-block;
}

/*div for profile pic*/

#avatar {
    background-image: url('/images/seven-sacred-pools.JPG');
    /* make a square container */
    width: 80px;
    height: 80px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    float: right;
    margin-top: 10px;	
    margin-right: -200px;	
}
body {
	color: #6E7783; 
}

table.userProfile {
	margin-left:auto; 
    margin-right:auto;
}

.content {
	color: #a7a7a2;
}

table.userProfile{
	float: center;
}

}

/*workouts page*/


div.myWorkouts a {
	color: #a7a7a2;
}

div.myWorkouts a:hover {
	color: #004e66;
}

/*charts page*/

.lineChart {
	width: 600px;
	height: 350px;
	margin-left: 10px;
}

/*login button*/

.btn-primary {
    color: #fff;
    background-color: #a7a7a2;
    border-color: white;
}

.btn-primary:hover {
	color: #fff;
	background-color: #004e66;
}

/*forgot password link*/

.btn-link {
    color: #a7a7a2;
    font-weight: 400;
}

.btn-link:hover {
	color: #004e66;
	font-weight: 400;
}


/*Exercises table*/

.muscleList {
	display: none;
}

table {
	border-collapse: collapse;
	width: 35%;
	margin-left: 10px;
}
table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
	text-align: center;
}

th {
	height: 30px;
	background-color: #F16B6F;
    color: white;
}

tr:hover {
	background-color: #f5f5f5;
}

form {
	margin-top: 15px;
	margin-left: 5px;
}

/*buttons*/

/*submit workout button*/
#submitButton {
	color: #fff;
	background-color: #a7a7a2;
	border-radius: 3px;
}

#submitButton:hover {
	color: #fff;
	background-color: #004e66;
}

#submitButton {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 367px;	
}

/*link to charts*/
#toCharts a {
	color: #fff;
	float: right;
}

#toCharts:hover {
	color: #fff;
	background-color: #004e66;
}

/*link to workouts*/
#toWorkouts a {
	color: white;
	border-radius: 3px;
}

#toWorkouts:hover {
	color: #fff;
	background-color: #004e66;
}
#toHome, #newAvatar {
	margin-left: 15px;
}

#toHome a, #newAvatar a {
	color: #fff;
}

#toHome:hover, #newAvatar:hover {
	color: #fff;
	background-color: #004e66;
}