/*Navbar*/

.top-navbar {
	background: #F16B6F;
	color: white;
}

a.navbar-brand {
	color: white;
	letter-spacing: 2px;

}

.navbar-toggle {
	color: white;
	background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
}

a {
	color: white;
}

span.icon-bar {
	background: white;
}

.dropdown-menu>li>a {
    font-weight: 400;
    color: white;
}

.dropdown-menu>li>a:hover {
    font-weight: 400;
    color: #004e66;
}

/*Body of page*/

div.payit.m-b-md {
	color: #a7a7a2;
	margin-top: 20px;
}

div.links, div.links a {
	color: #a7a7a2;
	padding-right: 15px;
	padding-left: 15px;
}

div.links, div.links a:hover {
	color: #004e66;
	padding-right: 15px;
	padding-left: 15px;
}

div.container {
	display: inline-block;
}

label {
	margin: 10px;
}

body {
	color: #6E7783; 
}

.content {
	color: #a7a7a2;
}

/*login button*/

.btn-primary {
    color: #fff;
    background-color: #a7a7a2;
    border-color: white;
}

.btn-primary:hover {
	color: #fff;
	background-color: #004e66;
}

/*forgot password link*/

.btn-link {
    color: #a7a7a2;
    font-weight: 400;
}

.btn-link:hover {
	color: #004e66;
	font-weight: 400;
}


/*Exercises table*/

.muscleList {
	display: none;
}

table {
	border-collapse: collapse;
	width: 35%;
	margin-left: 10px;
}
table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
	text-align: center;
}

th {
	height: 30px;
	background-color: #F16B6F;
    color: white;
}

tr:hover {
	background-color: #f5f5f5;
}

form {
	margin-top: 15px;
	margin-left: 5px;
}

/*submit workout button*/

button {
	color: #fff;
	background-color: #a7a7a2;
	border-radius: 3px;
}

button:hover {
	color: #fff;
	background-color: #004e66;
}

#submitButton {
	margin-top: 10px;
	margin-left: 10px;
}

/*link to charts*/
#toCharts {
	color: #fff;
	background-color: #a7a7a2;
	float: right;
	border-radius: 3px;
	margin: 15px 40px 0 0;
}

#toCharts:hover {
	color: #fff;
	background-color: #004e66;
}

#toCharts, a:hover{
	color: #fff;
}

/*link to progress*/
#toProgress {
	color: #fff;
	background-color: #a7a7a2;
	float: right;
	border-radius: 3px;
	margin: 15px 40px 0 0;
}

#toProgress:hover {
	color: #fff;
	background-color: #004e66;
}

#toProgress, a:hover{
	color: #fff;
}